<div class="relative hidden lg:block">
    <div id="search">
        <input id="search-input" placeholder="Search" style="padding-left: 2rem"
               class="border-gray-300 border-2 pl-8 pr-2 rounded-md hover:border-green-700 focus:border-green-900 focus:outline-none">
        <i class="absolute left-0 pl-2 fas fa-search text-green-900" style="margin-top: 0.6rem"></i>
    </div>
</div>
